<plugin name='jquery-validation-ui' version='1.2' grailsVersion='1.2.2 &gt; *'>
  <author>Lim Chee Kin</author>
  <authorEmail>limcheekin@vobject.com</authorEmail>
  <title>JQuery Validation UI Plugin - Client Side Validation without writing JavaScript</title>
  <description>Grails Validation mechanism is great, I like it! 
However, it is just server side validation solution, to build a comprehensive validation solution 
and highly interactive web application it has one missing important piece... 
Yes! It is client side validation solution that support all standard Grails constraints. 
Similar grails plugins such as Javascript Validator and Remote Constraints attempt to address this problem, 
but the outcome is less satisfactory in my opinion. I like the solution and demo published in the blog post titled 
"A jQuery inline form validation, because validation is a mess", but unluckily it is not using the excellent 
JQuery Validation plugin as it's validation engine, it had it's own solution known as jQuery Validation Engine. 

The JQuery Validation UI Plugin will bring Javascript Validator, Remote Constraints, jQuery Validation plugin and [qTip (jQuery tooltip plugin)|http://craigsworks.com/projects/qtip_new/] under the same root and 
deliver solution more than the jQuery Validation Engine. In short, when someone ask you what is JQuery Validation UI Plugin, just show them the following code block:
{code}
Javascript Validator + Remote Constraints + jQuery Validation plugin + qTip 
&gt; jQuery Validation Engine
{code}

 * Project Site and Documentation: http://code.google.com/p/jquery-validation-ui-plugin/
 * Support: http://code.google.com/p/jquery-validation-ui-plugin/issues/list
 * Discussion Forum: http://groups.google.com/group/jquery-validation-ui-plugin
</description>
  <documentation>http://grails.org/plugin/jquery-validation-ui</documentation>
  <resources>
    <resource>BuildConfig</resource>
    <resource>Config</resource>
    <resource>DataSource</resource>
    <resource>UrlMappings</resource>
    <resource>org.grails.jquery.validation.ui.JQueryRemoteValidatorController</resource>
    <resource>org.grails.jquery.validation.ui.JqueryValidationService</resource>
    <resource>org.grails.jquery.validation.ui.JQueryValidationUiTagLib</resource>
    <resource>org.grails.jquery.validation.ui.AlphanumericConstraint</resource>
    <resource>org.grails.jquery.validation.ui.LettersonlyConstraint</resource>
    <resource>org.grails.jquery.validation.ui.LetterswithbasicpuncConstraint</resource>
    <resource>org.grails.jquery.validation.ui.PhoneConstraint</resource>
    <resource>org.grails.jquery.validation.ui.PhoneUSConstraint</resource>
  </resources>
  <dependencies>
    <plugin name='jqueryValidation' version='1.7 &gt; *' />
    <plugin name='constraints' version='0.5.1 &gt; *' />
  </dependencies>
  <behavior />
</plugin>