<plugin name='form-builder-core' version='0.1' grailsVersion='1.3.7 &gt; *'>
  <author>Admin Form Builder</author>
  <authorEmail>admin@yourdomain.com</authorEmail>
  <title>Core plugin for Form Builder</title>
  <description>\
Brief description of the plugin.
</description>
  <documentation>http://grails.org/plugin/form-builder-core</documentation>
  <resources>
    <resource>BootStrap</resource>
    <resource>BuildConfig</resource>
    <resource>Config</resource>
    <resource>CurrencyBootStrap</resource>
    <resource>DataSource</resource>
    <resource>DeviceDetectionFilters</resource>
    <resource>JQueryCalendarConfig</resource>
    <resource>LogFilters</resource>
    <resource>UrlMappings</resource>
    <resource>spring.resources</resource>
    <resource>LoginController</resource>
    <resource>LogoutController</resource>
    <resource>com.oneapp.cloud.core.AccountController</resource>
    <resource>com.oneapp.cloud.core.ActivityController</resource>
    <resource>com.oneapp.cloud.core.AddressController</resource>
    <resource>com.oneapp.cloud.core.AssetController</resource>
    <resource>com.oneapp.cloud.core.AsynchronousEmailStorageController</resource>
    <resource>com.oneapp.cloud.core.ClientController</resource>
    <resource>com.oneapp.cloud.core.CompanyActivityController</resource>
    <resource>com.oneapp.cloud.core.ContactsController</resource>
    <resource>com.oneapp.cloud.core.DashboardController</resource>
    <resource>com.oneapp.cloud.core.DropDownController</resource>
    <resource>com.oneapp.cloud.core.ExportController</resource>
    <resource>com.oneapp.cloud.core.FBController</resource>
    <resource>com.oneapp.cloud.core.FacebookConnectController</resource>
    <resource>com.oneapp.cloud.core.GroupsController</resource>
    <resource>com.oneapp.cloud.core.InvoiceController</resource>
    <resource>com.oneapp.cloud.core.LinkedinConnectController</resource>
    <resource>com.oneapp.cloud.core.OrgChartDisplayController</resource>
    <resource>com.oneapp.cloud.core.ProfileController</resource>
    <resource>com.oneapp.cloud.core.ProjectCategoryController</resource>
    <resource>com.oneapp.cloud.core.ProjectController</resource>
    <resource>com.oneapp.cloud.core.RegisterController</resource>
    <resource>com.oneapp.cloud.core.RegistrationCodeController</resource>
    <resource>com.oneapp.cloud.core.ReportController</resource>
    <resource>com.oneapp.cloud.core.RoleController</resource>
    <resource>com.oneapp.cloud.core.SearchController</resource>
    <resource>com.oneapp.cloud.core.SecurityInfoController</resource>
    <resource>com.oneapp.cloud.core.SettingsController</resource>
    <resource>com.oneapp.cloud.core.TwitterConnectController</resource>
    <resource>com.oneapp.cloud.core.UploadController</resource>
    <resource>com.oneapp.cloud.core.UserController</resource>
    <resource>com.oneapp.cloud.core.UserProfileController</resource>
    <resource>com.oneapp.cloud.core.UserRoleController</resource>
    <resource>com.oneapp.cloud.core.currency.ExchangeRateController</resource>
    <resource>com.oneapp.cloud.core.log.AppLogController</resource>
    <resource>com.oneapp.cloud.core.social.EventController</resource>
    <resource>com.oneapp.cloud.crm.OpportunityController</resource>
    <resource>com.oneapp.cloud.expense.ExpenseController</resource>
    <resource>com.oneapp.cloud.expense.ExpenseItemController</resource>
    <resource>com.oneapp.cloud.expense.ExpenseTypeController</resource>
    <resource>com.oneapp.cloud.time.AssignTaskController</resource>
    <resource>com.oneapp.cloud.time.MileStoneController</resource>
    <resource>com.oneapp.cloud.time.TaskController</resource>
    <resource>com.oneapp.cloud.time.TaskUpdateController</resource>
    <resource>com.oneapp.cloud.time.TimeEntryController</resource>
    <resource>tenant.DomainTenantMapController</resource>
    <resource>com.oneapp.cloud.core.Account</resource>
    <resource>com.oneapp.cloud.core.ActivityFeed</resource>
    <resource>com.oneapp.cloud.core.Asset</resource>
    <resource>com.oneapp.cloud.core.AsynchronousEmailStorage</resource>
    <resource>com.oneapp.cloud.core.Base</resource>
    <resource>com.oneapp.cloud.core.BaseApproval</resource>
    <resource>com.oneapp.cloud.core.BaseObject</resource>
    <resource>com.oneapp.cloud.core.BaseObjectItem</resource>
    <resource>com.oneapp.cloud.core.BaseObjectMeta</resource>
    <resource>com.oneapp.cloud.core.Client</resource>
    <resource>com.oneapp.cloud.core.CompanyActivity</resource>
    <resource>com.oneapp.cloud.core.ContactDetails</resource>
    <resource>com.oneapp.cloud.core.DropDown</resource>
    <resource>com.oneapp.cloud.core.GroupDetails</resource>
    <resource>com.oneapp.cloud.core.Invoice</resource>
    <resource>com.oneapp.cloud.core.Message</resource>
    <resource>com.oneapp.cloud.core.OauthDetails</resource>
    <resource>com.oneapp.cloud.core.PersistentLogin</resource>
    <resource>com.oneapp.cloud.core.Person</resource>
    <resource>com.oneapp.cloud.core.Preferences</resource>
    <resource>com.oneapp.cloud.core.Project</resource>
    <resource>com.oneapp.cloud.core.ProjectCategory</resource>
    <resource>com.oneapp.cloud.core.RequestTokenOauthDetails</resource>
    <resource>com.oneapp.cloud.core.Retainer</resource>
    <resource>com.oneapp.cloud.core.Role</resource>
    <resource>com.oneapp.cloud.core.Settings</resource>
    <resource>com.oneapp.cloud.core.User</resource>
    <resource>com.oneapp.cloud.core.UserProfile</resource>
    <resource>com.oneapp.cloud.core.UserRole</resource>
    <resource>com.oneapp.cloud.core.currency.CurrencyMap</resource>
    <resource>com.oneapp.cloud.core.currency.ExchangeRate</resource>
    <resource>com.oneapp.cloud.core.currency.Money</resource>
    <resource>com.oneapp.cloud.core.log.AppLog</resource>
    <resource>com.oneapp.cloud.core.log.LoginFailureLog</resource>
    <resource>com.oneapp.cloud.core.log.UserLog</resource>
    <resource>com.oneapp.cloud.core.social.Changes</resource>
    <resource>com.oneapp.cloud.core.social.Event</resource>
    <resource>com.oneapp.cloud.core.social.Feed</resource>
    <resource>com.oneapp.cloud.core.social.Groups</resource>
    <resource>com.oneapp.cloud.core.social.Share</resource>
    <resource>com.oneapp.cloud.core.social.Subscribe</resource>
    <resource>com.oneapp.cloud.core.social.Subscription</resource>
    <resource>com.oneapp.cloud.crm.Contact</resource>
    <resource>com.oneapp.cloud.crm.Opportunity</resource>
    <resource>com.oneapp.cloud.expense.Expense</resource>
    <resource>com.oneapp.cloud.expense.ExpenseItem</resource>
    <resource>com.oneapp.cloud.expense.ExpenseType</resource>
    <resource>com.oneapp.cloud.expense.ExpenseUserProfile</resource>
    <resource>com.oneapp.cloud.expense.MileageType</resource>
    <resource>com.oneapp.cloud.time.MileStone</resource>
    <resource>com.oneapp.cloud.time.Task</resource>
    <resource>com.oneapp.cloud.time.TaskUpdate</resource>
    <resource>com.oneapp.cloud.time.TimeEntry</resource>
    <resource>com.oneapp.cloud.time.TimeUserProfile</resource>
    <resource>tenant.DomainTenantMap</resource>
    <resource>DailyUpdateJob</resource>
    <resource>MailerJob</resource>
    <resource>RetrieveEmailDataJob</resource>
    <resource>SendAsyncEmailJob</resource>
    <resource>SocialContactsJob</resource>
    <resource>SocialFeedsJob</resource>
    <resource>GetMailRoute</resource>
    <resource>SendMailRoute</resource>
    <resource>SocialFeedService</resource>
    <resource>com.oneapp.cloud.core.CalendarOneAppService</resource>
    <resource>com.oneapp.cloud.core.CheckRoleService</resource>
    <resource>com.oneapp.cloud.core.ClientDataLoadService</resource>
    <resource>com.oneapp.cloud.core.DailyUpdateService</resource>
    <resource>com.oneapp.cloud.core.EmailService</resource>
    <resource>com.oneapp.cloud.core.FollowService</resource>
    <resource>com.oneapp.cloud.core.ImageService</resource>
    <resource>com.oneapp.cloud.core.MailRetrieveService</resource>
    <resource>com.oneapp.cloud.core.SendAsyncEmailService</resource>
    <resource>com.oneapp.cloud.core.SendMessageService</resource>
    <resource>com.oneapp.cloud.core.UploadDataService</resource>
    <resource>com.oneapp.cloud.core.UtilService</resource>
    <resource>com.oneapp.cloud.core.log.LogEventService</resource>
    <resource>com.oneapp.cloud.core.CheckRoleTagLib</resource>
    <resource>com.oneapp.cloud.core.ImageTagLib</resource>
    <resource>com.oneapp.cloud.core.LinkToURLTagLib</resource>
  </resources>
  <dependencies />
  <behavior />
</plugin>